<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
   xmlns:aop="http://www.springframework.org/schema/aop"
  	xmlns:context="http://www.springframework.org/schema/context"
  
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byName">

<context:annotation-config></context:annotation-config> 
<context:component-scan base-package="com.xvxingan.demo.entity"></context:component-scan>
<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
<aop:config proxy-target-class="true"/>
 
  <bean name="user" class="com.xvxingan.demo.entity.User"  autowire="default">
     
      <property name="name" value="Jane Doe"/>
      <property name="age" value="11"/>
      <property name="props">
          <props>
              <prop key="专业" >计算机</prop>
              <prop key="职业">软件工程师</prop>
          </props>
      </property>
      
      <property name="list">
          <list>
              <value>这个学校就有好几个了</value>
              <ref bean="school"/>
               <ref bean="school"/>
          </list>
      </property>
      
      <property name="map">
          <map>
              <entry key="水果">
                  <value>苹果</value>
              </entry>
              <entry key="家具">
                  <value>桌子</value>
              </entry>
              <entry key="school">
                  <ref bean="school"/>
              </entry>
             
          </map>
      </property>
       
  </bean>
  <bean name="school" class="com.xvxingan.demo.entity.School">
      <property name="name" value ="安工大"></property>
      <property name="age" value ="8"></property>
  </bean>
 
</beans>
